.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  font-family: ui-sans-serif, sans-serif;
  border-radius: 4px;
  border-width: 0;
  background-color: #2E424A;
  outline: 0;
  color: #ffffff;

  &:hover {
    background-color: #445860;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #93a7af;
    color: #e5e5e5;

    & .label {
      color: #ffffff;
    }
  }
}
