.schedule-container {
    display: flex;
    gap: 10px;
}
.box {
    width: 110px;
    height: 37px;
    background-color: #293A41;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
