.login {
    &__container {
        width: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include padding('xxxl');
    }
    &__field {
        @include margin('md');
    }
    &__buttons {
        @include margin('md');
    }
}
